<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular is awesome</title>
  <style>
    ul li {
      text-transform: capitalize;
    }
  </style>
</head>
<body>
<div ng-controller="PhoneController as $ctrl">
  <ul>
    <li ng-repeat="phone in $ctrl.phonesList">{{phone}}</li>
  </ul>
  <form ng-submit="$ctrl.add($ctrl.newPhone)">
    <input ng-model="$ctrl.newPhone">
    <button type="submit">Добавить</button>
  </form>
</div>
<script src="node_modules/angular/angular.js"></script>
<script src="src/app.js"></script>
</body>
</html>